<!-- views/index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Lista de Trabajadores</title>
</head>

<body>
    <div id="contenedor">
        <div class="contenedor-listas">
            <h1>Lista de Trabajadores</h1>
            <ul id="lista-empleados">
            </ul>
        </div>
        <div class="contenedor-listas">
            <h1>Departamentos</h1>
            <ul id="listaDepartamentos">
            </ul>
        </div>
        <div class="contenedor-listas">
            <h1>Habilidades</h1>
            <ul id="listaHabilidades">
            </ul>
        </div>
        <div class="contenedor-listas">
            <h1>Puestos</h1>
            <ul id="listaPuestos">
            </ul>
        </div>
        <div class="contenedor-listas">
            <h1>Tareas</h1>
            <ul id="listaTareas">
            </ul>
        </div>

    </div>

    <script src="index.js"></script>
</body>

</html>